# Vendor cache
/.vendor-cache

# Ignore anything potentially sensitive in .ssh
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/*.pem
/link/.ssh/known_hosts

# Don't commit rbenv temp files.
/link/.rbenv/shims/
/link/.rbenv/versions/
/link/.rbenv/version

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
