#
# EnvironmentRC
#
# This file contains environment variables that are not shell-
# or operating-system specific.
#
#


# Set editors
export EDITOR=vim
export GIT_EDITOR=vim

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_CTYPE=en_US.utf-8
export LC_ALL=en_US.utf-8

# Add colors to various things
export CLICOLOR=1

# Less options:
#   -S = truncate, don't wrap, long lines
#   -R = output ANSI color sequences as-is
#   -i = searches ignore case
#   -n = suppress line numbers
export LESS='-SRin'

# Add binary directory to $PATH
export PATH=$PATH:~/.bin

# Tell Python to use the given pythonrc
export PYTHONSTARTUP=~/.pythonrc.py

# Tell Python to not write .pyc files
export PYTHONDONTWRITEBYTECODE=1

# Set and create $GOPATH
export GOPATH=$HOME/go
mkdir -p "$GOPATH"

# Add $GOPATH/bin to our path, so binaries installed with 'go install' work.
export PATH=$PATH:$GOPATH/bin

# ------------------------------------------------------------
# If the OS-specific environment file exists, then we use it.
_DOTFILES_LOCAL="$HOME/.envrc.$(uname -s | tr '[:upper:]' '[:lower:]')"
if [ -f "$_DOTFILES_LOCAL" ]; then
  . "$_DOTFILES_LOCAL"
fi
unset _DOTFILES_LOCAL

# vim: set filetype=sh:
